body {
	color: $black;
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $serif;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

nav {

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		padding: 0 10px;

		&:hover {
			color: $red;
		}

	}
}
