body {
	color: $black;
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $serif;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

// Forms
#{$all-text-inputs} {
  border: 1px solid $gray;
  padding: 10px;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover},
#{$all-text-inputs-active} {
  border: 1px solid $red;
}

#{$all-buttons} {
  background-color: $red;
  border: 1px solid $gray;
  color: $gray;
  padding: 10px;
}

#{$all-buttons-focus},
#{$all-buttons-hover},
#{$all-buttons-active} {
  background-color: $gray;
  border-color: $red;
  color: $red;
}

nav {

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		padding: 0 10px;

		&:hover {
			color: $red;
		}

	}
}
