// Color palette
$red: rgba(185, 42, 22, 1);
$gray: rgba(211, 211, 211, 1);
$black: rgba(35, 31, 32, 1);
$orange: rgba(244, 170, 9, 1);
$blue: rgba(9, 172, 193, 1);
$magenta: #d33682;
$cyan: #35c9be; 

$serif: 'Playfair Display', serif;
$sans-serif: 'Raleway', sans-serif;

$default-border-radius: 20px;
